
<h3>El "Autor" de la página</h3>

<p>Hola soy Antonio Prieto y este es mi ejercicio obligatorio del módulo 6 del curso <i>Desarrollo de servicios en la nube con HTML5, Javascript y node.js</i></p>

<p>El entrecomillado de la palabra "Autor" se debe a que (como indican las instrucciones del ejercicio) el código que entrego está copiado (casi íntegramente) de las transparencias del módulo.</p>

<h3>La "Foto" del "autor"</h3>

<p>Bueno, es la que en mi perfil de Google uso. Explicar poque entrecomillo "Foto" necesario no es.</p>

<img src="/images/maestro.jpeg" alt="Házlo o no lo hagas, pero no lo intentes"/ w>

